@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff; 
    --bg-black-50:#e8dfec; 
    --text-black-900:#302e4d;
    --text-black-700:#504e7d;
}
body.dark
{
    --bg-black-900:#151515;
    --bg-black-100:#222222; 
    --bg-black-50:#393939; 
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
    color: white;
}

*{
    margin:0; 
    padding: 0; 
    outline: none; 
    text-decoration: none; 
    box-sizing: border-box; 
}
body
{
    line-height: 1.5; 
    font-size: 16px; 
    font-family: 'sans-serif';    /* Poppins */
}
::before,::after
{
    box-sizing: border-box;
}
#menu-bars
{
    position: fixed;
    top: 1rem; right: 1.2rem;
    z-index: 10000;
    background-color: var(--skin-color);
    color: #fff;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.section
{
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px; 
    opacity: 1;
}
.hidden
{
    display: none !important;
}
.main-content
{
    padding-left: 270px; 
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.padd-10
{
    padding-left: 10px;
    padding-right: 10px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 20px;      /* original 60px */
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h2
{
    font-size: 32px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    padding-bottom: 0px;
    text-align: center;
}
.section-title h2::before
{
    content: '';
    height: 3px;
    width: 130px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 44%;
}
.section-title h2::after
{
    content: '';
    height: 3px;
    width: 70px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 47%;
    margin-top: 6px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    display: inline-block; 
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.05);
}

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 77, 77, 0.15);
}

ul
{
    list-style: none;
}
.responsive 
{
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* ======= sidebar line styling ======= */
.side
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
/* logo styling */
.side .logo img
{
    position: absolute;
    top: 30px;
    left: 45px;
    max-width: 70%;
}
.side p
{
    position: absolute;
    bottom: 20px;
    font-weight: 530;
    font-size: 15px;
    color: red;
}
/* logo font and font size styling 
.side .logo a span
{
    font-family: 'Clicker Script' , cursive;
    font-size: 40px;
}
/* menubar list styling 
.side .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
} */

/* logo styling - bottom bar */
.side .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color); 
    border-left: 5px solid var(--skin-color); 
    bottom: 0;
    left: 0;
}
/* logo styling - top bar */
.side .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color); 
    border-right: 5px solid var(--skin-color); 
    top: 0;
    right: 0;
}
/* toggler styling */
.side .nav-toggler 
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

/* toggler span styling */
.side .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.side .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.side .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.side .nav
{
    margin-top: 50px;
}
/* sidebar list styling */ 
.side .nav li
{
    margin-bottom: 20px;
    display: block;
}
.side .nav li a
{
    font-size: 15px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 3px 12px;
}
.side .nav li a.active
{
    color: var(--skin-color);
}
.side .nav li a i
{
    margin-right: 15px;
}

/* ====== Home Page styling ====== */ 
.home-page
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home-page .home-info
{
    flex: 1 1 40rem;
    max-width: 60%;
    padding-left: 40px;
}
/* home page introduction styling */ 
h3.intro
{
    font-size: 35px;
    margin: 15px 0;
}
h3.intro span
{
    font-family: 'Clicker Script', cursive;     /* change font style */ 
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.profession
{
    font-size: 30px;
    margin: 15px 0;
}
.pro-title
{
    color: var(--skin-color);
}
.home-info h3
{
    padding-top: 50px;
}
.home-info p
{
    margin-bottom: 30px;
    font-size: 18px;
    color: var(--text-black-700);
    text-align: justify;
}

/* home page image styling */ 
.home-page .home-image
{
    flex: 1 1 40rem;
    max-width: 40%;
    text-align: center;
    position: relative;
}
/* profile pic styling - bottom bar */
.home-image::after
{
    content: '';
    position: absolute; 
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color); 
    right: 50px;
    bottom: -30px; 
}
/* profile pic styling - top bar */
.home-image::before
{
    content: '';
    position: absolute; 
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color); 
    left: 50px;
    top: -30px; 
}
.home-page .home-image img
{
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* ===== About Page styling ===== */ 
.about-page .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-page .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-page .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about-page .about-content .about-text h3 span
{
    color: var(--skin-color);
}
/* no p tag 
.about .about-content .about-text p 
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
*/ 
.about-page .about-content .personal-info
{
    flex: 0 0 50%;     /* 60px */
    max-width: 60%;
    margin-top: 5px;   /* 40px */
    padding-bottom: 20px; 
    text-align: center;
    height: 180px;
    /* background-color: green; */
}
.about-page .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
.about-page .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 12px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about-page .about-content .personal-info .info-item p span 
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
    word-wrap: normal;
}
.about-page .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about-page .about-content .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.about-page .about-content .skill-title{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    /*background-color: yellow; */
}

.about-page .about-content .skills 
{
    flex: 0 0 50%;     /* 60px */
    max-width: 50%;
    /* margin-top: 5px;   40px */
    padding-bottom: 10px;
    text-align: center;
    /*background-color: red; */
}
.about-page .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 90%;
    margin-bottom: 10px;
    padding-right: 35px;
    margin-left: 35px;
}
.about-page .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-black-900);
    text-transform: capitalize;
    text-align: left;
}
.about-page .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about-page .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about-page .about-content .skills .skill-item .skill-percent
{
    /* text-align: left; */
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 50px;
}

/* ======== personal competencies ====== */
.about-page .about-content .personal-comp
{
    flex: 0 0 50%;     /* 60px */
    max-width: 50%;
    margin-top: 5px;   /* 40px */
    padding-bottom: 20px;
    text-align: center;
    height: 180px;
    /*background-color: blue; */
}
.about-page .about-content .personal-comp .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
.about-page .about-content .personal-comp .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 13px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about-page .about-content .personal-comp .buttons
{
    margin-top: 30px;
}
.about-page .about-content .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 25px;
}

/* ======== Education section ====== */
.academics
{
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 20px;
    /* background-color: orangered; */
}
.education-page h3.title{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-black-900);
}
.education-page .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 30px;
}
.education-page .timeline
{
    background-color: var(--bg-black-100);
    padding: 20px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 90%;
    position: relative;
}
.education-page .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 20px;
}
.education-page .timeline .timeline-item:last-child
{
    padding-bottom: 2px;
}
.education-page .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.education-page .timeline .timeline-icon
{
    position: absolute;
    left: -2px;
    top: -1px;
    height: 15px;
    width: 15px;
    border-radius: 60%;
    border-color: #151515;
}
.education-page .timeline .timeline-date
{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 12px;
    color: black;
}
.education-page .timeline .timeline-item .timeline-date .fa
{
    margin-right: 5px;
    color: red;
}
.education-page .timeline .timeline-title
{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.education-page .timeline .timeline-text
{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
}
.education-page .table
{
    flex: 0 0 50%;  
    max-width: 50%;
    margin-top: 5px; 
    /*background-color: #7FFF00; */
}
.education-page .table h3.title
{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-black-900);
}
.education-page .table .info-item p
{
    font-size: 16px;
    color: var(--text-black-900);
    text-align: justify;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--bg-black-50);
}
.education-page .table .buttons
{
    /* background-color: #7FFF00; */
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    left: 20%;
}

/* ======== Professional History ====== */
.work
{
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 30px;
    /*background-color: olive; */
}
.work-page h3.title{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-black-900);
}
.work-page .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 30px;
}
.work-page .timeline
{
    background-color: var(--bg-black-100);
    padding: 20px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 90%;
    position: relative;
}
.work-page .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 20px;
}
.work-page .timeline .timeline-item:last-child
{
    padding-bottom: 2px;
}
.work-page .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.work-page .timeline .timeline-icon
{
    position: absolute;
    left: -2px;
    top: -3px;
    height: 15px;
    width: 15px;
    border-radius: 60%;
}
.work-page .timeline .timeline-date
{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 12px;
    color: black;
}
.work-page .timeline .timeline-date .fa
{
    margin-right: 5px;
    color: red;
}
.work-page .timeline .timeline-title
{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.work-page .timeline .timeline-text
{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
}

/* ======== Testimonial section ====== */
.testimonial-page .container{
    padding-bottom: 40px;
}
.testimonial-page .testimonial-info
{
    margin-bottom: 30px;
     flex: 0 0 33.33%;
     max-width: 33.33%;
}
.testimonial-page .testimonial-info .testimonial-info-inner
{
    background-color: rgb(238, 218, 248);
    border: 2px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 25px 12px;
    text-align: center;
    transition: all 0.3s ease;
}
.testimonial-page .testimonial-info .testimonial-info-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 77, 77, 0.15);
}
.testimonial-page .testimonial-info .testimonial-info-inner img{
    height: 90px;
    width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
}
.testimonial-page .testimonial-info .testimonial-info-inner h4{
    font-size: 16px;
    color: darkgreen;
}
.testimonial-page .testimonial-info .testimonial-info-inner h5{
    font-size: 13px;
    font-style: italic;
    padding-bottom: 5px;
    color: darkgreen;
}
.testimonial-page .testimonial-info .testimonial-info-inner p{
    text-align: center;
    font-size: 13px;
    color: darkgreen;
    font-weight: bold;
}

/* ======== Portfolio section ====== */
.portfolio-page .container
{
    padding-bottom: 40px;
    /* display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    background-color: red; */
}
.portfolio-page .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.portfolio-page .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
    padding-bottom: 20px;
    /* background-color: yellow; */ 
}
.portfolio-page .portfolio-item
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
}
.portfolio-page .portfolio-item-inner
{
    border: 10px solid var(--bg-black-100);
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio-page .portfolio-item-inner .portfolio-img
{
    flex: 1 1 20rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    border: .2rem solid #fff;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
}
.portfolio-page .portfolio-item-inner .portfolio-img img
{
   /* width: 100%;
    height: 100%;
    display: block;
    border-radius: .5rem; 
    */ 
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}
.portfolio-page .portfolio-item-inner .portfolio-img:hover img
{
    height: 70%;
    width: 70%;
}

.portfolio-page .portfolio-item-inner .portfolio-img h3
{
    position: absolute;
    color: orangered;
    text-transform: uppercase;
    font-size: 20px;
}
.portfolio-page .portfolio-item-inner .portfolio-img .icons
{
    position: absolute;
    top: 1rem; 
    right: 1rem;
}
.portfolio-page .portfolio-item-inner .portfolio-img .icons a
{
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    background: #eee;
    color: #333;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
.portfolio-page .portfolio-item-inner .portfolio-img .icons a:hover
{
    background: var(--skin-color);
    color: #fff;
}

/* ===== Contact Page ====== */
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 22px;
    margin-bottom: 8px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}
.contact-page .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 30px;
}
.contact-page .contact-info-item .icon
{
    display: inline-block;
}
.contact-page .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-page .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 15px 0 5px;
}
.contact-page .contact-info-item p
{
    font-size: 15px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact-page h3.contact-title
{
    margin-bottom: 30px;
}
/* ===== Contact Page form ====== */
.contact-page .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
    /*margin-left: 130px; */
    padding-left: 20px;
    padding-right: 20px;
    /*padding-top: 30px;
    background-color: rgb(252, 213, 220); */
}
.contact-page .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-page .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-page .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact-page .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact-page .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact-page .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact-page .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}

/* Captcha */
#captchaBackground {
    height: 220px;
    width: 250px;
    background-color: #2d3748;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    
    #captchaHeading {
    color: black;
    font-size: 16px;
    }
    #captcha 
    {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
    .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #submitButton 
    {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 20px;
        color: white;
        border-radius: 20px;
        display: inline-block; 
        white-space: nowrap;
        border: none;
        background: var(--skin-color);
        transition: all 0.3s ease;
    }
    #refreshButton 
    {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
    padding: 2px;
    }
    #textBox 
    {
    height: 25px;
    }
    .incorrectCaptcha {
    color: #FF0000;
    }
    .correctCaptcha {
    color: #7FFF00;
    }


/* ===== Footer section ====== */
.footer{
    width: 100%;
    text-align: center;
    padding: 8px 0;
}
.icons .fab{
    color: rgb(247, 112, 112); 
    margin: 0 10px; 
    cursor: pointer; 
    padding: 10px 0; 
}
.footer i
{
    color: black;
    font-weight: 500;
}
.footer span
{
    color: var(--skin-color);
}


/* ===== Responsiveness ====== */
@media screen and (max-width:1199px) 
{
    .main-content
    {
        padding-left: 0;
    }
    .about-page .about-content .personal-info p span
    {
        display: block;
        margin-left: 0;
    }
}

@media screen and (max-width:1199px) 
{
    .contact-page .contact-info-item,
    .portfolio-page .portfolio-item,
    .testimonial-page .testimonial-info
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .education-page .academics,
    .education-page .table,
    .home-page .home-info,
    .work-page .work
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-page .home-image
    {
        position: relative;
        max-width: 100%;  /* add image */
    }
    .home-image::after,
    .home-image::before
    {
        display: none;
    }
}

@media screen and (max-width:991px) 
{
    body
    {
        padding: 0;
    }
    #menu-bars
    {
        display: initial;
    }
    .side
    {
        left: -120%;
    }
    .side.active
    {
        left: 0%;
    }
    .home-image::after,
    .home-image::before,
    .section-title h2::before,
    .section-title h2::after
    {
        display: none;
    }
    .home-page .btn
    {
        display: none;
    }
}

@media screen and (max-width:450px) 
{
    .side
    {
        width: 100%;
    }
}

@media screen and (max-width:767px) 
{
    .contact-page .contact-form .col-6,
    .contact-page .contact-info-item,
    .testimonial-page .testimonial-info,
    .portfolio-page .portfolio-item,
    .about-page .about-content .skills,
    .about-page .about-content .personal-info,
    .about-page .about-content .personal-comp
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-page .btn
    {
        display: none;
    }
}

