* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
} 
  .chartCard {
    width: 100vw;
    height: calc(100vh - 0px);
    background: rgba(136, 54, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(165, 42, 247);
    background: white;
  }
  
  /*
  .click{
    position: absolute;
    top: 50%;
    background-color:blue;
    color: #fff;
    border: none;
  }  */